body{
    background-color: #E9EAED;
}
header{
    height: 100px;
    background-color: #46b8da;
    margin: 20px auto 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: xx-large;
    color: whitesmoke;
    padding-left: 20px;
    padding-top: 30px;
}

.main_content{
    padding: 20px;
}

.status{
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px groove #E9EAED;
    /*border: 1px groove #E9EAED;*/
    /*background-color: #E9EAED;*/
}

img {
    margin-bottom: 15px;
}

.statusDiv {
    max-height: 600px;
    overflow-y: scroll;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.mysidebar{
    background-color: whitesmoke;
    border-radius: 5px;
}

.intereses{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
}

form{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
}

footer{
    height: 80px;
    background-color: #46b8da;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.validationMessage{
    color: #d43f3a;
}

.loading{
    padding: 10px;
}

.editBox{
    padding-top: 2em;
}

.interest{
    overflow: hidden;
}

