<div class="intereses">
    <h1>List of interests</h1>
    <hr/>

    <a ui-sref="main.new"><span class="glyphicon glyphicon-plus-sign"></span> New interest</a>
    <br/> <br/>

    <table class="table">
        <thead>
            <th>Screen Name</th>
            <th>HashTags</th>
            <th>User Mentions</th>
            <th></th>
        </thead>
        <tr ng-repeat="interest in interests">
            <td>{{interest.screen_name}}</td>
            <td><span ng-repeat="hashtag in interest.hashtags">#{{hashtag}}</span></td>
            <td><span ng-repeat="user_mention in interest.user_mentions">@{{user_mention}}</span></td>
            <td><a href="#/main/interest/{{interest._id.$oid}}">Show</a>
                | <a href="#/main/edit/{{interest._id.$oid}}">Edit</a>
                | <a href="" ng-click="deleteInterest(interest._id.$oid)">Delete </a> </td>
        </tr>
    </table>
</div>
