<div class="row">
    <div class="col-lg-3 col-md-3 mysidebar">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <h1>Interest</h1>
            </div>
            <div class="col-md-3 col-sm-3 editBox">
               <a class="pull-right" title="Edit Interest" href="#/main/edit/{{interest._id.$oid}}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        </div>
        <div class="interest">
            <h4>Screen Name: {{interest.screen_name}} </h4>
            <p>Hashtags: <span ng-show="interest.hashtags.length > 0">{{interest.hashtags}} </span> </p>
            <p>User Mentions: <span ng-show="interest.user_mentions.length > 0">{{interest.user_mentions}}</span></p>
        </div>
        <hr/>
        <div>
            <p><a href="#/main/interest/{{interest._id.$oid}}/statuses/{{interest.screen_name}}">Pull <strong>twitter</strong> statuses</a></p>
            <p><a ui-sref="main.interests">List All Interests</a></p>
        </div>
    </div>
    <div class="col-lg-9 col-md-9">
        <div ui-view class="statusDiv">
            <p>Click on <em>Pull twitter statuses</em> to see statuses of this interest</p>
        </div>
    </div>
</div>