<div ng-show="statuses.length > 0">
    <h2>Statuses</h2>

    <div class="status" ng-repeat="status in statuses">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img class="img-thumbnail"  src="{{status.user.profile_image_url}}">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <p><strong>{{status.user.name}}</strong> {{status.user.screen_name}} {{status.created_at}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>{{status.text}} <span ng-repeat="mention in status.entities.user_mentions"></span>{{mention.screen_name}}</p>
            </div>
        </div>
        <div ng-show="status.entities.media[0].media_url" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="img-thumbnail" src="{{status.entities.media[0].media_url}}" height="200px" width="300px">
            </div >
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p><span class="glyphicon glyphicon-heart">  {{status.retweet_count}}</span> </p>
            </div>
        </div>
    </div>
</div>

<div ng-if="!loading" ng-hide="statuses.length > 0">There's no statuses for this interes</div>
<div ng-if="loading" class="loading"> <img src="images/loading1.gif"> </div>