<div>
    <div class="row">
        <header>
            <p>Personel Test Service</p>
        </header>
    </div>
    <div class="row">
        <div class="main_content col-lg-12 col-md-12">
            <div ui-view></div>
        </div>
    </div>
    <div class="row">
        <footer>
            <p>Test Service for Twitter API &copy;Edis Veljačić</p>
        </footer>
    </div>
</div>