<form ng-submit="updateInterest()" novalidate>
    <div class="form-group">
        <label for="s_name">Screen Name</label>
        <input id="s_name" type="text" ng-model="interest.screen_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="h_tags">Hashtags</label>
        <input id="h_tags" type="text" ng-model="interest.hashtags" class="form-control" placeholder="Example: #life#good">
    </div>
    <div class="form-group">
        <label for="u_mentions">User mentions</label>
        <input id="u_mentions" type="text" ng-model="interest.user_mentions" class="form-control" placeholder="Example: @example@good">
    </div>
    <button type="submit" class="btn btn-primary">Update Interest</button> <a ui-sref="main.interests">No thanks, go back</a>
</form>