<form name="interestForm" novalidate ng-submit="interestForm.$valid && createInterest()">
    <h2>Create New Interest</h2>
    <div class="form-group">
        <label for="s_name">Screen Name</label>
        <input id="s_name" name="s_name" type="text" ng-model="interest.screen_name" required class="form-control">
        <span class="validationMessage"  ng-show="interestForm.$submitted && interestForm.s_name.$error.required">Field cannot be empty</span>

    </div>
    <div class="form-group">
        <label for="h_tags">Hashtags</label>
        <input id="h_tags" type="text" name="htag" ng-model="interest.hashtags"  class="form-control" placeholder="Example: #life#good">
        <span class="validationMessage"  ng-show="interestForm.$submitted && interestForm.htag.$error.required">Field cannot be empty</span>
    </div>
    <div class="form-group">
        <label for="u_mentions">User mentions</label>
        <input id="u_mentions" type="text" name="u_mentions" ng-model="interest.user_mentions"  class="form-control" placeholder="Example: @example@good">
        <span class="validationMessage"  ng-show="interestForm.$submitted && interestForm.u_mentions.$error.required">Field cannot be empty</span>

    </div>
    <button type="submit" class="btn btn-primary">Create Interest</button>
    <a ui-sref="main.interests"> No thanks, Go back</a>
</form>